<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madchan.comp.logcat">

    <application>
        <activity android:name=".LogcatActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            android:screenOrientation="landscape"
            />
    </application>

</manifest>